.portal {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.home-icon {
  cursor: pointer;
  margin-bottom: 20px;
  color: #ffffff;
}

.home-icon:hover {
  color: #007bff;
}

.sidebar h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #ffffff;
  font-size: 14px;
}

.sidebar li:hover {
  background-color: #333333;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  margin-left: 200px;
  height: 100vh;
}

.welcome-message {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin-top: 50px;
}